tryout/**
logs/**/*.log
logs/**/*.csv
logs/**/*.jsonl

raw/active/***/*.jsonl
raw/active/***/*.txt
raw/active/**/*.json
raw/active/**/**/*.json


raw/dict/**/*.jsonl
raw/dict/**/*.md

**/__pycache__  

.env
.venv-metal

raw/models/**/**/**.jsonl
raw/models/**/**.safetensors

docs/**

MODEL_CARD_PREVIEW.md

TLFModel/**
raw/dict/*.csv
raw/dict/*_log.txt

code/dict/TLF_CONFIG.json
raw/dict/4-prompts/substitutions_log.txt
raw/active/rag/**
