numpy
pandas
matplotlib
seaborn
plotly
plotly-express
scikit-learn
statsmodels
nbformat
jinja2
sklearn-pandas
sqlalchemy-mate==2.0.0.0
uszipcode
mlxtend
xgboost
vkpykit
keras
certifi
pip-system-certs
gensim
torch
sentence_transformers
llama-cpp-python
huggingface_hub
tensorflow
bs4
indic_transliteration
chromadb
flask   
tiktoken
langchain_text_splitters
langchain_community
pyodbc
peft
ipywidgets
transformers 
accelerate 
bitsandbytes
datasets
trl
huggingface_hub
sentencepiece
mlx-metal
mlx
mlx-lm